Source: nvidia-kernel
Section: non-free/kernel
Priority: optional
Maintainer: Vladimir Vinogradenko <vladimirv@ixsystems.com>
Build-Depends: debhelper-compat (= 12), linux-headers-truenas-production-amd64 (= @KERNEL_PACKAGE_VERSION@), nvidia-kernel-dkms (= @VERSION@)
Homepage: https://www.nvidia.com

Package: nvidia-kernel
Architecture: amd64
Provides: nvidia-kernel-@VERSION_SHORT@
Pre-Depends: nvidia-installer-cleanup
Description: NVIDIA binary kernel module DKMS source
 This package contains the NVIDIA Xorg binary kernel module needed by
 nvidia-driver, pre-built using DKMS.
