#!/usr/bin/make -f
export DH_VERBOSE = 1

%:
	dh $@

override_dh_install:
	dh_install
	dkms install -m nvidia-current -v @VERSION_SHORT@ -k @KERNEL_VERSION@
	mkdir -p "debian/nvidia-kernel/lib/modules/@KERNEL_VERSION@/updates/dkms"
	cp "/lib/modules/@KERNEL_VERSION@/updates/dkms/"nvidia-* "debian/nvidia-kernel/lib/modules/@KERNEL_VERSION@/updates/dkms"
